<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
         {{>header}}
        <img src="/img/sc.png" alt="weather-report">
        <p>This is the name {{name}}</p>
        {{>footer}}
    </body>
</html>