<footer>
{{!-- <div>
    <a href="/help">help</a>
</div> --}}
<p>Created in Node</p>
</footer>


{{!-- <style>
    #footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  height: 50px;
    }
</style> --}}