<h1>{{title}}</h1>
<div>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>   

<style>
a:link, a:visited {
  background-color: rgb(80, 148, 238);
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(38, 86, 189);
  color: white;
}
</style>
</style>